<h1>New user</h1>


<%= form_tag users_path, :method => "post" do %>
    <input type="text" name="email" placeholder="email">

    <input type="password" name="password" placeholder="password">

    <input type="submit">
<% end %>