<h1>New user</h1>


<%= form_tag users_path, :method => "post" do %>
    <input type="text" name="username" placeholder="Username" required>
    <input type="text" name="email" placeholder="Email">

    <input type="password" name="password" placeholder="Password">

    <input type="submit">
<% end %>

<%= link_to 'Back', users_path %>

<%= link_to 'Log in', login_path %>